$white: #fff;
$black: #000;
$gray: #505050;
$dark-white: #f9fbfb;

$merriweather: "Merriweather", serif;

$desktop: (max-width: 1920px);
$notebook: (max-width: 1280px);
$tablet: (max-width: 768px);
$mobile: (max-width: 480px);